<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TrendsReporting.My.MySettings.BCPConn" connectionString="Dsn=ITS;uid=kolbe;pwd=K0lb3@xs4db"
            providerName="System.Data.Odbc" />
        <add name="TrendsReporting.My.MySettings.dbkolbeConnectionString"
            connectionString="server=web;user id=kolbe;password=K0lb3@xs4db;persistsecurityinfo=True;port=3308;database=dbkolbe"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>