<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TrendsReporting.My.MySettings.BCPConn" connectionString="Dsn=ITS;uid=kolbe;pwd=K0lb3@xs4db" providerName="System.Data.Odbc" />
    <add name="TrendsReporting.My.MySettings.dbkolbeConnectionString" connectionString="server=web;user id=kolbe;password=K0lb3@xs4db;persistsecurityinfo=True;port=3308;database=dbkolbe" providerName="MySql.Data.MySqlClient" />
    <add name="TrendsReporting.My.MySettings.dbkolbeConnectionString1" connectionString="server=web;user id=kolbe;port=3308;database=dbkolbe;password=K0lb3@xs4db;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient" />
    <add name="TrendsReporting.My.MySettings.dbkolbeConnectionString2" connectionString="server=PROGRAMMER;user id=kolbe;password=K0lb3@xs4db;port=3308;database=dbkolbe" providerName="MySql.Data.MySqlClient" />
    <add name="TrendsReporting.My.MySettings.dbkolbeConnectionString3" connectionString="server=programmer;user id=kolbe;password=K0lb3@xs4db;port=3308;database=dbkolbe" providerName="MySql.Data.MySqlClient" />
    <add name="TrendsReporting.My.MySettings.dbkolbeTConnectionString" connectionString="server=web;user id=kolbe;password=K0lb3@xs4db;port=3308;database=dbkolbeT" providerName="MySql.Data.MySqlClient" />
    <add name="TrendsReporting.My.MySettings.dbkolbeTConnectionString1" connectionString="server=web;user id=kolbe;port=3308;database=dbkolbe" providerName="MySql.Data.MySqlClient" />
    <add name="TrendsReporting.My.MySettings.dbkolbeConnStr" connectionString="server=web;user id=kolbe;password=K0lb3@xs4db;port=3308;database=dbkolbe" providerName="MySql.Data.MySqlClient" />
    <add name="dbkolbeEntities" connectionString="metadata=res://*/Inmate.csdl|res://*/Inmate.ssdl|res://*/Inmate.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=web;user id=kolbe;password=K0lb3@xs4db;persistsecurityinfo=True;port=3308;database=dbkolbe&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>